<?xml version="1.0"?>
<config>
    <modules>
        <Samdoit_Magetestimonials>
            <version>1.0.0</version>
        </Samdoit_Magetestimonials>
    </modules>
    <frontend>
        <routers>
            <magetestimonials>
                <use>standard</use>
                <args>
                    <module>Samdoit_Magetestimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </magetestimonials>
        </routers>
        <layout>
            <updates>
                <magetestimonials>
                    <file>magetestimonials.xml</file>
                </magetestimonials>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<magetestimonials>
				<use>admin</use>
				<args>
					<module>Samdoit_Magetestimonials</module>
					<frontName>magetestimonials</frontName>
				</args>
			</magetestimonials>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<cms>
				<children>
					<magetestimonials module="magetestimonials">
						<title>Testimonials</title>
						<sort_order>300</sort_order>
						<action>magetestimonials/adminhtml_magetestimonials</action>
					</magetestimonials>
				</children>
			</cms>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Samdoit_Magetestimonials>
							<title>Magetestimonials Module</title>
							<sort_order>100</sort_order>
						</Samdoit_Magetestimonials>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<magetestimonials>
					<file>magetestimonials.xml</file>
				</magetestimonials>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <magetestimonials>
                <class>Samdoit_Magetestimonials_Model</class>
                <resourceModel>magetestimonials_mysql4</resourceModel>
            </magetestimonials>
            <magetestimonials_mysql4>
                <class>Samdoit_Magetestimonials_Model_Mysql4</class>
                <entities>
                    <magetestimonials>
                        <table>magetestimonials</table>
                    </magetestimonials>
                </entities>
            </magetestimonials_mysql4>
        </models>
        <resources>
            <magetestimonials_setup>
                <setup>
                    <module>Samdoit_Magetestimonials</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magetestimonials_setup>
            <magetestimonials_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magetestimonials_write>
            <magetestimonials_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magetestimonials_read>
        </resources>
        <blocks>
            <magetestimonials>
                <class>Samdoit_Magetestimonials_Block</class>
            </magetestimonials>
        </blocks>
        <helpers>
            <magetestimonials>
                <class>Samdoit_Magetestimonials_Helper</class>
            </magetestimonials>
        </helpers>
    </global>
</config>
